mat-card {
  border-radius: 0;
}

a {
  color: #FFA500 !important;
}

a:hover {
  color: #FF7900 !important;
}

.question {
  padding-top: 5px;
  padding-bottom: 5px;
}

.answer {
  padding-top: 5px;
  padding-bottom: 10px;
}

mat-icon {
  height: 24px;
  vertical-align: bottom;
}

h3 mat-icon {
  height: 30px;
}