<mat-card class="page">
    <mat-card-header>
        <div class="ppd-logo"><img src="/assets/images/ppd-logo.jpg" height="75" width="75"
                                   alt="Prairie Pyro Designs"></div>
        <div class="ppd-title">About Prairie Pyro's Artist</div>
    </mat-card-header>
    <mat-card-content class="page-content">

        <h3 class="question">Hi there!</h3>
        <div class="answer">
            My name is Stephanie and thank you for taking an interest in me and what I do! I've setup this
            information to be kind of like an interview/FAQ. If there's something here that I didn't cover, please
            <a target="_blank" routerLink="/contact">contact</a> me and I will update this section as well as answer
            your question(s)!
        </div>

        <h3 class="question"><mat-icon>help</mat-icon>What is Pyrography/Woodburning?</h3>
        <div class="answer">
            Pyrography or pyrogravure is the art of decorating wood or other materials with burn marks resulting from
            the controlled application of a heated object such as a poker, or in my usecase, a woodburning machine
            made by <a target="_blank" href="https://www.razertip.com/">Razertip</a>. It is also known as pokerwork
            or wood burning. You can read more on <a target="_blank" href="https://en.wikipedia.org/wiki/Pyrography">
            wikipedia</a>.
        </div>

        <h3 class="question"><mat-icon>help</mat-icon>What got you into Pyrography/Woodburning?</h3>
        <div class="answer">
            I first learned about this art when I was in grade 9, around the age of 14 or 15. I was able to take a
            special class of my choosing which would happen every 10 business days and would last for the whole day.
            I chose Woodworking from the options given (there was Carpentry, Make Up and Hair, Sewing, etc). In this
            class, I learned how to woodburn, carve wood, use a scrollsaw and create art pieces called
            <a target="_blank" href="http://ow.ly/dRHS30oZh24">Instarsias</a>.
            I took this class for two years in a row and had a knack for it right from the
            get go - Art talents do run in the family in various mediums. My parents bought me a machine when I was
            in grade 12 and I've been woodburning ever since.
        </div>

        <h3 class="question"><mat-icon>help</mat-icon>When did you decide to start selling your art?</h3>
        <div class="answer">I started selling my art around 8 years ago (2011). A close fiend and my boyfriend at the
            time convinced me that I should start selling the art I'm making as well as take custom orders to do
            more. I was hesitant at first since I didn't know how much extra work it was going to be but I took the
            leap anyway and I haven't regretted it since. Kudos to them for giving me the push I needed to do this
            otherwise Prairie Pyro Designs wouldn't have been born. I was also starting to have quite a few finished
            pieces that were piling up that I wasn't quite sure what to do with so this also helped with the
            motivation. Once the first piece sold, it was super exciting and pushed me to start kicking things into
            high gear.
        </div>

        <h3 class="question"><mat-icon>help</mat-icon>How did you come up with Prairie Pyro Designs for a name?</h3>
        <div class="answer">
            I have two good friends to thank for this actually! Naming things is hard, as many know, so I saught out
            feedback from people in my friend circle. I knew I wanted Pyro in the name since it related to
            Pyrography. One friend suggested Prairie Pyro since I live in Saskatchewan, a prairie province in Canada.
            I loved it! Another friend suggested that I add Designs to the end so it sounded more professional. And
            just like that, Prairie Pyro Designs was born. I even have a mascot! It's the flame in my logo that you
            can see at the top of every page.
        </div>

        <h3 class="question"><mat-icon>help</mat-icon>Do you teach Pyrography/Woodburning?</h3>
        <div class="answer">
            I have started teaching woodburning classes/workshop through
            <a target="_blank" href="http://www.leevalley.com/en/home/SeminarList.aspx?c=1&rs=65">Lee Valley</a>.
            They are roughly once a month and they can be found on their
            <a target="_blank" href="http://www.leevalley.com/en/home/SeminarList.aspx?c=1&rs=65">Seminar</a>
            page. I will also post any upcoming workshop events on my
            <a target="_blank" href="https://www.facebook.com/PrairiePyroDesigns">Facebook</a> page. I do not
            currently have the space to hold workshop outside of the ones through Lee Valley yet but I am working on
            this and hope that within the next year, I'm able to teach more workshops on a more regular basis. I have
            paired up with <a target="_blank" href="https://www.razertip.com/">Razertip</a> (maker of the woodburning
            tool that I use) and so if a space is provided, they would lend me the machines to hold some workshops.
        </div>

        <h3 class="question"><mat-icon>help</mat-icon>What is your favourite piece that you've done?</h3>
        <div class="answer">
            It's a <a target="_blank"
            href="https://www.facebook.com/PrairiePyroDesigns/photos/a.1497740186933820/886275904746921/?type=3&theater">
            Ornate Wolf head</a> originally drawn by artist known as Bioworkz. This piece is mine alone and is
            currently my favourite creation. It is on my wall in the living room and the first thing people see when
            they come over.
        </div>

        <h3 class="question"><mat-icon>help</mat-icon>What is the largest piece that you have completed?</h3>
        <div class="answer">
            The largest piece that I have completed so far is a 12" x 16" and it took 30 hours. It's a
            <a target="_blank"
            href="https://www.facebook.com/PrairiePyroDesigns/photos/a.1497740186933820/886275904746921/?type=3&theater">
            Ornate Wolf head</a> originally drawn by artist known as Bioworkz.
            <br/><br/>
            I do have a 20" x 24" started though! It's going to be awhile before it's completed but it's going to be
            awesome! Follow me on <a target="_blank" href="https://www.facebook.com/PrairiePyroDesigns">Facebook</a>
            page to know when it's posted!
        </div>

        <h3 class="question"><mat-icon>help</mat-icon>What plans do you have for Prairie Pyro Designs in the future?</h3>
        <div class="answer">
            I plan to start getting into carving again and then combining the two arts. This will give my pieces
            more depth.
            <br/><br/>
            Another thing I want to do when I have my own workshop/garage will be to build some
            kitchen tables, side tables, coffee tables, and/or end tables and woodburn the surfaces and/or legs. I'll
            either be making these myself or teaming up with someone and sharing the money earned from it.
            <br/><br/>
            Another thing I want to do is take some art classes so I can do more freehand art to maybe accomadate
            more custom requests!
        </div>

        <h3 class="question"><mat-icon>help</mat-icon>What is the machine that you use to woodburn with and where can I get one?</h3>
        <div class="answer">I use a woodburning machine made by a company called
            <a target="_blank" href="https://www.razertip.com/">Razertip</a>.
            They are located in Martensville, SK, Canada. It's a local company for me. I've been using my first
            machine for nearly 7 years now and I've not had a single issue with it. This includes it falling on the
            floor a couple of times. Razertip has great warranty though in case something goes wrong! You can buy the
            machines from their <a target="_blank" href="https://www.razertip.com/">website</a>, from their warehouse
            in Martensville and/or in
            <a target="_blank" href="http://www.leevalley.com/en/wood/page.aspx?p=31042&cat=1,41115,45497">Lee Valley</a> in
            Saskatoon, SK. I recommend the following
            <a target="_blank" href="https://store.razertip.com/mm5/merchant.mvc?Screen=PROD&Product_Code=SK-1HD">
            single unit machine</a> and this
            <a target="_blank" href="https://store.razertip.com/mm5/merchant.mvc?Screen=PROD&Product_Code=F9">pen
            like tip</a>. This is the tip I use for every single woodburning, including the shading. I don't really
            use any others.
        </div>

        <h3 class="question"><mat-icon>help</mat-icon>Are you on social media sites? I want to follow you!</h3>
        <div class="answer">
            Yes I am! I'm on all of the following!
            <br/><mat-icon>label</mat-icon>
                <a target="_blank" href="https://www.facebook.com/PrairiePyroDesigns">Facebook</a>
            <br/><mat-icon>label</mat-icon>
                <a target="_blank" href="https://twitter.com/prairiepyro">Twitter</a>
            <br/><mat-icon>label</mat-icon>
                <a target="_blank" href="https://www.instagram.com/prairiepyrodesigns/">Instagram</a>
            <br><mat-icon>label</mat-icon>
                <a target="_blank" href="https://www.deviantart.com/stepher17">DeviantArt</a>
            <br/><br/>
            Also check out my <a target="_blank" href="https://www.etsy.com/ca/shop/PrairiePyroDesigns">Etsy store</a>!
        </div>

        <h3 class="question"><mat-icon>help</mat-icon>Do you do custom orders?</h3>
        <div class="answer">
            Yes! To request one, you can do so via my
            <a target="_blank" href="https://www.etsy.com/ca/shop/PrairiePyroDesigns">Etsy store</a> or my
            <a target="_blank" href="https://www.facebook.com/PrairiePyroDesigns">Facebook page</a>.
            <br/><br/>
            Note: I am unable to do custom work on a finished piece of wood - this includes if it has been varnished or
            stained. I work with unfinished wood only. I do not have the tools to remove the finish and then re-apply
            it. I am also unable to do portraits of people or work with photos. I will find linearts or sketches to
            work with so this could limit what I am able to do for you.
        </div>

        <h3 class="question"><mat-icon>help</mat-icon>Where do you get your inspiration from?</h3>
        <div class="answer">
            I've been a gamer since I was a child and draw a lot of inspiration from the games I've played. I'm also
            a fan of movies, TV shows, and Anime so I also have a lot of material to pull from here, especially
            anything Marvel. I also just love anything fantasy related and mythical, especially Dragons! I also like
            cute things in general so if I find something that I really like, I'll probably try woodburning it! I
            also like to ask my followers on my
            <a target="_blank" href="https://www.facebook.com/PrairiePyroDesigns">Facebook page</a>
            for ideas / things they'd like to see be woodburned.
        </div>

        <h3 class="question"><mat-icon>help</mat-icon>I'm just getting into woodburning, got any tips?</h3>
        <div class="answer">
            That's awesome! I'm glad you asked! I'm going to be writing a blog series going through all the steps
            in my process and the good to knows! Check it out! You're also more than welcome to reach out to me at any
            of my social sites listed on my <a target="_blank" routerLink="/contact">Contact</a> page and I'd be
            happy to give you some
            help/advice that way! If you are in Saskatoon, SK, then I might be able to give you some 1 on 1 teaching or
            invite you to join an upcoming workshop that I run nearly monthly with
            <a target="_blank" href="http://www.leevalley.com/en/home/SeminarList.aspx?c=1&rs=65">Lee Valley</a>.
        </div>
    </mat-card-content>
</mat-card>
