<mat-dialog-content class="preview-dialog">
    <mat-card-title><strong>{{woodburning.title}}</strong> Details</mat-card-title>
    <mat-card-content class="preview-dialog-body">
        <div>
            <img src="{{woodburning.imageUrl}}" alt="{{woodburning.title}}" class="woodburning-image">
        </div>
        <div class="woodburning-main-data">
            <div><strong>Size</strong>: {{woodburning.size}}</div>
            <div><strong>Material</strong>: {{woodburning.material}}</div>
            <div><strong>Date Finished</strong>: {{woodburning.dateFinished.toDate() | date: 'MM/dd/yyyy'}}</div>
            <div><strong>Total Time Taken (Minutes)</strong>: {{woodburning.totalTimeTakenMinutes}}</div>
            <div><strong>Total Time Taken (Hours)</strong>: {{woodburning.totalTimeTakenHours}}</div>
        </div>
        <div class="woodburning-additional-data">
            <div *ngIf="woodburning.sharedOnline"><strong>Shared on Social Sites?</strong>
                Yes</div>
            <div *ngIf="!woodburning.sharedOnline"><strong>Shared on Social Sites?</strong>
                No</div>

            <div *ngIf="woodburning.isFeatured"><strong>Featured?</strong> Yes</div>
            <div *ngIf="woodburning.framed"><strong>Framed?</strong> Yes</div>

            <div *ngIf="woodburning.forSale && !woodburning.sold"><strong>For Sale?</strong> Yes</div>
            <div *ngIf="woodburning.forSale && woodburning.sold"><strong>For Sale?</strong> It was!</div>
            <div *ngIf="!woodburning.forSale"><strong>For Sale?</strong> No</div>

            <div *ngIf="woodburning.forSale && woodburning.sold"><strong>Sold?</strong> Yes</div>

            <div *ngIf="woodburning.forSale && !woodburning.sold">
                <strong>Price:</strong> ${{woodburning.sellingPrice}}
            </div>
            <div *ngIf="woodburning.forSale">
                <strong>Etsy Listing:</strong>
                <a href="{{woodburning.etsyListing}}" target="_blank"> See Etsy Listing</a>
            </div>
        </div>
    </mat-card-content>
    <mat-card-content>
        <div class="buttons">
            <button mat-button class="cancelButton" (click)="close()">
                Cancel
            </button>
        </div>
    </mat-card-content>
</mat-dialog-content>