@import '../../common/colors';

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
  color: $white !important;
}


.mat-input-element {
  color: $white !important;
}

mat-card-title {
  font-family: Roboto, "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.create-woodburning-form {
  .row {
    width: 260px;
  }

  .row mat-slide-toggle {
    padding-bottom: 25px;
  }

  .create-woodburning-buttons {
    width: 288px;
  }

  .submitButton {
    color: $white;
    background-color: $blue;
    text-transform: uppercase;
  }
  .cancelButton {
    color: $white;
    text-transform: uppercase;
  }
}