.footer {
  font-size: 14px;
  padding: 24px;
  text-align: right;
  background-color: orange;
  color: white;
  margin-right: 0;
}

mat-icon {
  vertical-align: middle;
}

.copyright-icon {
  height: 28px;
}

.dropdown-menu {
  background-color: #FFA500 !important;
  a {
    color: white;
  }
  a:hover {
    background-color: #FF7900 !important;
  }
}