<mat-dialog-content>
  <mat-card-title>Update Material</mat-card-title>
  <div *ngIf="form">
    <form [formGroup]="form" *ngIf="material" class="form">
        <mat-card-content class="form-content">
            <div class="row">
                <mat-form-field>
                    <input matInput formControlName="type" placeholder="Type" value="{{ material.type }}" required>
                    <mat-error>Required</mat-error>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field>
                    <input matInput formControlName="height" placeholder="Height (inches)" value="{{ material.height }}"
                           required>
                    <mat-error>Required</mat-error>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field>
                    <input matInput formControlName="width" placeholder="Width (inches)" value="{{ material.width }}" required>
                    <mat-error>Required</mat-error>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field>
                    <input matInput formControlName="shape" placeholder="Shape" value="{{ material.shape }}" required>
                    <mat-error>Required</mat-error>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field>
                    <input matInput formControlName="imageUrl" placeholder="Image Url"
                           value="{{ material.imageUrl }}" required>
                    <mat-error>Required</mat-error>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field>
                    <input matInput formControlName="quantity" placeholder="Quantity" value="{{ material.quantity }}"
                           required>
                    <mat-error>Required</mat-error>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-slide-toggle formControlName="bought" [checked]="material.bought">Bought?</mat-slide-toggle>
            </div>
            <div class="row" *ngIf="form.controls.bought.value == true">
                <mat-form-field>
                    <input matInput formControlName="purchasePrice" placeholder="Purchase Price ($)" value="{{
                    material.purchasePrice }}">
                </mat-form-field>
            </div>
            <div class="row" *ngIf="form.controls.bought.value == true">
                <mat-form-field>
                    <input matInput formControlName="purchaseLocation" placeholder="Purchase Location" value="{{
                    material.purchaseLocation }}">
                </mat-form-field>
            </div>
        </mat-card-content>
        <mat-card-content>
            <div class="buttons">
                <button mat-raised-button class="submitButton" (click)="updateMaterial()">
                    Update Material
                </button>
                <button mat-button class="cancelButton" (click)="close()">
                    Cancel
                </button>
            </div>
        </mat-card-content>
    </form>
  </div>
</mat-dialog-content>