<mat-card class="page">
    <mat-card-header>
        <div class="ppd-logo"><img src="/assets/images/ppd-logo.jpg" height="75" width="75"
                                   alt="Prairie Pyro Designs"></div>
        <div class="ppd-title">Contact Prairie Pyro Designs</div>
    </mat-card-header>
    <mat-card-content class="page-content">
        Want to learn more about woodburning? Head over to my <a routerLink="/about-me">About</a> page or shoot me a
        message at one of the sites below.
        <br/><br/>
        Interested in a custom order? Reach out to me at one of the following!
        <br/><br/>

        You can reach me via one of the following ways:
        <br/>
        <a target="_blank" href="https://www.facebook.com/PrairiePyroDesigns">Facebook</a>
        <br/>
        <a target="_blank" href="https://twitter.com/prairiepyro">Twitter</a>
        <br/>
        <a target="_blank" href="https://www.instagram.com/prairiepyrodesigns/">Instagram</a>
        <br/>
        <a target="_blank" href="https://www.etsy.com/ca/shop/PrairiePyroDesigns">Etsy</a>
        <br/>
        <a target="_blank" href="https://www.deviantart.com/stepher17">DeviantArt</a>
    </mat-card-content>
</mat-card>
