<mat-card class="page">
    <mat-card-header>
        <div class="ppd-logo"><img src="/assets/images/ppd-logo.jpg" height="75" width="75"
                                   alt="Prairie Pyro Designs"></div>
        <div class="ppd-title">Contact Prairie Pyro Designs</div>
    </mat-card-header>
    <mat-card-content class="page-content">
        Interested in a custom order? Want to learn more about Woodburning?
        <br/><br/>

        You can reach me via one of the following ways:
        <br/>
        My Facebook Page: <a href="https://www.facebook.com/PrairiePyroDesigns">Prairie Pyro Designs</a>
        <br/>
        My Etsy Store: <a href="https://www.etsy.com/ca/shop/PrairiePyroDesigns">Prairie Pyro Designs Shop</a>
        <br/>
        My Twitter: <a href="https://twitter.com/prairiepyro">Prairie Pyro</a>
        <br/>
        My Instagram: <a href="https://www.instagram.com/prairiepyrodesigns/">Prairie Pyro</a>
    </mat-card-content>
</mat-card>
