<mat-card class="page">
    <mat-card-header>
        <div class="ppd-logo"><img src="/assets/images/ppd-logo.jpg" height="75" width="75"
                                   alt="Prairie Pyro Designs"></div>
        <div class="ppd-title">Contact Prairie Pyro Designs</div>
    </mat-card-header>
    <mat-card-content class="page-content">
        Interested in a custom order? Want to learn more about Woodburning? You can reach my via my facebook
        page: <a href="https://www.facebook.com/PrairiePyroDesigns">Prairie Pyro Designs</a>.
    </mat-card-content>
</mat-card>
