<mat-card class="page">
    <mat-card-header>
        <div class="ppd-logo">
            <img src="/assets/images/ppd-logo.jpg" height="75" width="75" alt="Prairie Pyro Designs">
        </div>
        <div class="ppd-title">Admin Area</div>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content *ngIf="isAdmin">
        <div class="buttons">
            <button mat-raised-button class="submitButton" (click)="openCreateWoodburningDialog()">Create Woodburning Entry</button>
        </div>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-content class="woodburning-table">
        <div class="woodburning-table-header"> All Woodburnings</div>
        <list-woodburnings></list-woodburnings>
    </mat-card-content>
</mat-card>