@import '../../common/colors';

.nav-actions {
  .user-profile-button {
    padding-right: 10px;
    float: left;
    padding-left: 15px;
    line-height: 76px;
  }
  .logout {
    float: right;
    padding-top: 20px;
    padding-left: 10px;
  }
}

.woodburning-table {
  margin-top: 10px;
  padding-top: 10px;
  .woodburning-table-header {
    font-size: 18px;
    padding-bottom: 10px;
  }
  height: 100%;
}



