<mat-card class="page">
    <mat-card-header>
        <div class="ppd-logo"><img src="/assets/images/ppd-logo.jpg" height="75" width="75"
                                   alt="Prairie Pyro Designs"></div>
        <div class="ppd-title">Prairie Pyro Designs Portfolio</div>
    </mat-card-header>
    <mat-card-content class="page-content">
        These are all the woodburnings I've completed during my life time. Click on the woodburning to learn more
        information about it! This does include the ones I have for sale as well! These are currently sorted
        alphabetically by title.
        <br/>
        <br/>
        <mat-grid-list cols="4" rowHeight="400px" gutterSize="15px">
          <mat-grid-tile *ngFor="let woodburning of allWoodburnings$ | async">
              <div *ngIf="woodburning.forSale">
                  <div *ngIf="!woodburning.sold">
                      <a href="{{woodburning.etsyListing}}" target="_blank">
                        <mat-grid-tile-header>{{woodburning.title}}</mat-grid-tile-header>
                      </a>
                      <a href="{{woodburning.etsyListing}}" target="_blank">
                          <img src="{{woodburning.imageUrl}}" alt="{{woodburning.title}}" class="tile-image">
                      </a>
                      <a href="{{woodburning.etsyListing}}" target="_blank">
                          <mat-grid-tile-footer *ngIf="woodburning.forSale && !woodburning.sold">
                            <span *ngIf="woodburning.forSale">$</span>{{woodburning.sellingPrice}} CAD - See Etsy Listing
                          </mat-grid-tile-footer>
                      </a>
                  </div>
                  <div *ngIf="woodburning.sold">
                      <mat-grid-tile-header (click)="openPreviewDialog(woodburning)">{{woodburning.title}}</mat-grid-tile-header>
                      <img src="{{woodburning.imageUrl}}" alt="{{woodburning.title}}" class="tile-image"
                       (click)="openPreviewDialog(woodburning)">
                      <mat-grid-tile-footer (click)="openPreviewDialog(woodburning)">Sold</mat-grid-tile-footer>
                  </div>
              </div>
              <div *ngIf="!woodburning.forSale">
                  <mat-grid-tile-header (click)="openPreviewDialog(woodburning)">
                      {{woodburning.title}}
                  </mat-grid-tile-header>
                  <img src="{{woodburning.imageUrl}}" alt="{{woodburning.title}}" class="tile-image"
                       (click)="openPreviewDialog(woodburning)">
                  <mat-grid-tile-footer *ngIf="!woodburning.forSale" (click)="openPreviewDialog(woodburning)">
                      Not For Sale
                  </mat-grid-tile-footer>
              </div>
          </mat-grid-tile>
        </mat-grid-list>
    </mat-card-content>
</mat-card>
