<mat-dialog-content>
  <mat-card-title>Edit Woodburning</mat-card-title>
  <div *ngIf="form">
    <form [formGroup]="form" *ngIf="currentWoodburning as w" class="edit-woodburning-form">
        <mat-card>
            <mat-card-content>
                <div class="row">
                    <mat-form-field>
                        <input matInput formControlName="title" placeholder="Title"
                               required="true" value="{{ w.title }}">
                        <mat-error>Required</mat-error>
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field>
                        <input matInput formControlName="size" placeholder="Size"
                               required="true" value="{{ w.size }}">
                        <mat-error>Required</mat-error>
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field>
                        <input matInput formControlName="material" placeholder="Material"
                               required="true" value="{{ w.material }}">
                        <mat-error>Required</mat-error>
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field>
                        <!-- TODO: This field isn't being populated -->
                        <input matInput readonly [matDatepicker]="dateFinishedDatePicker" formControlName="dateFinished"
                               placeholder="Date Finished" required="true" value="{{ w.dateFinished }}">
                                <!--This instead of value, ngModel made it live update in the table? Dah fuk? [(ngModel)]="w.dateFinished"-->
                        <mat-datepicker-toggle matSuffix [for]="dateFinishedDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #dateFinishedDatePicker></mat-datepicker>
                        <mat-error>Required</mat-error>
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field>
                        <input matInput formControlName="totalTimeTakenMinutes" placeholder="totalTimeTakenMinutes"
                               required="true" value="{{ w.totalTimeTakenMinutes }}">
                        <mat-error>Required</mat-error>
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field>
                        <input matInput formControlName="totalTimeTakenHours" placeholder="totalTimeTakenHours"
                               required="true" value="{{ w.totalTimeTakenHours }}">
                        <mat-error>Required</mat-error>
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field>
                        <input matInput formControlName="imageUrl" placeholder="imageUrl"
                               required="true" value="{{ w.imageUrl }}">
                        <mat-error>Required</mat-error>
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-slide-toggle formControlName="sharedOnline" [checked]="w.sharedOnline">
                        Shared Online?</mat-slide-toggle>
                </div>
                <div class="row">
                    <mat-slide-toggle formControlName="framed" [checked]="w.framed">
                        Framed?</mat-slide-toggle>
                </div>
                <div class="row">
                    <mat-slide-toggle formControlName="forSale" [checked]="w.forSale">
                        For Sale?</mat-slide-toggle>
                </div>
                <div class="row">
                    <mat-form-field>
                        <input matInput formControlName="sellingPrice" placeholder="sellingPrice"
                               required="true" value="{{ w.sellingPrice }}">
                        <mat-error>Required</mat-error>
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-slide-toggle formControlName="sold" [checked]="w.sold">
                        Sold?</mat-slide-toggle>
                </div>
            </mat-card-content>
            <mat-card-content>
                <div class="edit-woodburning-buttons">
                    <button mat-raised-button class="submitButton" (click)="editWoodburning()">
                        Edit Woodburning
                    </button>
                    <button mat-button class="cancelButton" (click)="close()">
                        Cancel
                    </button>
                </div>
            </mat-card-content>
        </mat-card>
    </form>
  </div>
</mat-dialog-content>