<mat-card class="page">
    <mat-card-header>
        <div class="ppd-logo"><img src="/assets/images/ppd-logo.jpg" height="75" width="75"
                                   alt="Prairie Pyro Designs"></div>
        <div class="ppd-title">Woodburnings for Sale</div>
    </mat-card-header>
    <mat-card-content class="page-content">
        <div>
            Want to own some beautiful and unique art for yourself? Or for a friend or family member? You've
            come to the right place! Any of the following are for sale in my Etsy store! Clicking on the picture will
            bring you to the listing!
        </div>
        <br/>
        <div>
            If you live in Saskatoon, SK, please reach out to me to save on shipping!
        </div>
        <br/>
        <br/>
        <mat-grid-list cols="4" rowHeight="400px" gutterSize="5px">
          <mat-grid-tile *ngFor="let woodburning of forSaleWoodburnings$ | async">
              <mat-grid-tile-header>{{woodburning.title}}</mat-grid-tile-header>
              <a href="{{woodburning.etsyListing}}" target="_blank">
                  <img src="{{woodburning.imageUrl}}" alt="{{woodburning.title}}" class="tile-image">
              </a>
              <mat-grid-tile-footer *ngIf="woodburning.sold">Sold</mat-grid-tile-footer>
              <mat-grid-tile-footer *ngIf="!woodburning.sold">
                  <span *ngIf="woodburning.forSale">$</span>{{woodburning.sellingPrice}} CAD
              </mat-grid-tile-footer>
          </mat-grid-tile>
        </mat-grid-list>
    </mat-card-content>
</mat-card>
