<mat-card-title>Write a New Blog</mat-card-title>
<mat-dialog-content>
  <div *ngIf="form">
    <form [formGroup]="form" class="form">
        <mat-card-content class="form-content">
            <div class="row">
                <mat-form-field>
                    <input matInput formControlName="title" placeholder="Title">
                </mat-form-field>
            </div>
            <!-- TODO: Change to a large text area with a rich text editor -->
            <div class="row">
                <mat-form-field>
                    <mat-label>Content</mat-label>
                    <textarea matInput
                            cdkTextareaAutosize
                            #autosize="cdkTextareaAutosize"
                            formControlName="content">
                    </textarea>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-slide-toggle formControlName="published">Publish?</mat-slide-toggle>
            </div>
            <div class="row">
                <mat-slide-toggle formControlName="commentsAllowed">Comments Allowed?</mat-slide-toggle>
            </div>
        </mat-card-content>
        <mat-card-content>
            <div class="buttons">
                <button mat-raised-button class="submitButton" (click)="submitBlog()">
                    Submit New Blog
                </button>
                <button mat-button class="cancelButton" (click)="close()">
                    Cancel
                </button>
            </div>
        </mat-card-content>
    </form>
  </div>
</mat-dialog-content>