mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

.create-woodburning-form {

  font-family: Roboto, "Helvetica Neue", Arial, Helvetica, sans-serif;

  .row {
    width: 260px;
  }

  .row mat-slide-toggle {
    padding-bottom: 25px;
  }

  .create-market-buttons {
    padding-left: 18px;
    width: 274px;
  }
}