@import '../common/colors';

div {
  font-family: Roboto, "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding-bottom: 15px;
  width: 100%;
}

.actions {
  button {
    font-size: 14px;
    background-color: $blue;
    color: $white;
    text-transform: uppercase;
    font-weight: 500;
  }

  button.mat-button {
    height: initial;
    margin-right: 5px;
    margin-bottom: 5px;
  }
}
