@import '../common/colors';

div {
  font-family: Roboto, "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding-bottom: 15px;
  width: 100%;
}

.home-page-buttons {
  .submitButton {
    color: $white;
    background-color: $blue;
    text-transform: uppercase;
  }
}
