<mat-card>
    <div>Hi there! Welcome to my app!</div>
    <div>To get started, click on one of the following actions: </div>
    <div class="home-page-buttons">
        <button mat-raised-button class="submitButton" (click)="openCreateWoodburningDialog()">Create Woodburning
            Entry</button>

        <!-- Maybe this edit can allow me to use dropdown with search to select one? -->
        <!-- This should likely only be do-able from mat-table -->
        <!--<button mat-button (click)="openEditWoodburningDialog()" >Edit Woodburning</button>-->

        <!-- (click)="goToListAllWoodburningPage()" -->
        <!-- This should be a table on this page -->
        <!--<button mat-button>View All Woodburnings</button>-->

        <!-- (click)="goToWoodburningsForSalePage()" -->
        <!-- This should be a filter on the table on this page instead of button -->
        <!--<button mat-button>View All Woodburnings for Sale</button>-->
    </div>
    <mat-divider></mat-divider>
    <list-woodburnings></list-woodburnings>
</mat-card>