<mat-card class="page">
    <mat-card-header>
        <div class="ppd-logo">
            <img src="/assets/images/ppd-logo.jpg" height="75" width="75" alt="Prairie Pyro Designs">
        </div>
        <div class="ppd-title">Manage Map Pin Locations</div>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
        <div class="buttons">
            <button mat-raised-button class="submitButton" (click)="openAddMapLocationDialog()">
                Add Pin Location
            </button>
        </div>
    </mat-card-content>

    <mat-divider></mat-divider>

    <mat-card-content>
        <list-map-locations></list-map-locations>
    </mat-card-content>
</mat-card>
