<mat-card class="page">
    <mat-card-header>
        <div class="ppd-logo"><img src="/assets/images/ppd-logo.jpg" height="75" width="75"
                                   alt="Prairie Pyro Designs"></div>
        <div class="ppd-title">Prairie Pyro Blog</div>
    </mat-card-header>
    <mat-card-content class="page-content">
        Interested in learning more about woodburning? Stay tuned for some blogs on my process!
        <div class="in-progress-buddy">
            <div class="img">
                <img src="/assets/images/so-excited-cant-wait.jpg" width="265" alt="So Excited! Can't Wait!">
            </div>
            <div class="img">
                <img src="/assets/images/and-now-the-waiting-game.png" width="265" alt="And now... the waiting game...">
            </div>
        </div>
    </mat-card-content>
</mat-card>
