<mat-card class="page">
    <mat-card-header>
        <div class="ppd-logo"><img src="/assets/images/ppd-logo.jpg" height="75" width="75"
                                   alt="Prairie Pyro Designs"></div>
        <div class="ppd-title">Welcome to Prairie Pyro Designs!</div>
    </mat-card-header>
    <mat-card-content class="page-content">
        <div>
            I hope you enjoy what you find here!
        </div>
        <br />
        <div>
            The art style that I practice is called Pyrography but it's
            also called Woodburning. You will be able to see all the pieces that I've done, what's for sale
            and be able to read up on this art style. It's a bit of a lost art that I'm trying to bring back
            in my own way.
        </div>
        <br />
        <div>
            I do also do custom orders! So if that's something that
            interests you, head on over to my Contact page for how you can request a custom woodburning!
        </div>
    </mat-card-content>
</mat-card>
