a {
  color: #FFA500 !important;
}

a:hover {
  color: #FF7900 !important;
}

.mat-table {
  width: 100%;

  .mat-header-cell {
    font-size: 14px;
  }

  .boolean-field {
    width: 75px;
  }

  .mat-column-size {
    flex: 0 0 84px;
  }

  .mat-column-material {
    flex: 0 0 100px;
  }

  .mat-column-dateFinished {
    flex: 0 0 84px;
  }

  .mat-column-totalTimeTakenMinutes {
    flex: 0 0 78px;
  }

  .mat-column-totalTimeTakenHours {
    flex: 0 0 78px;
  }

  .mat-column-sharedOnline {
    flex: 0 0 64px;
  }

  .mat-column-framed {
    flex: 0 0 66px;
  }

  .mat-column-forSale {
    flex: 0 0 70px;
  }

  .mat-column-sellingPrice {
    flex: 0 0 46px;
  }

  .mat-column-sold {
    flex: 0 0 48px;
  }

  .mat-column-etsyListing {
    flex: 0 0 78px;
  }

  .mat-column-isFeatured {
    flex: 0 0 70px;
  }

  .mat-column-menu {
    flex: 0 0 52px;
  }
}