<mat-card-title>Add Map Location</mat-card-title>
<mat-dialog-content>
  <div *ngIf="form">
    <form [formGroup]="form" class="form">
        <mat-card-content class="form-content">
            <div class="row">
                <mat-form-field>
                    <input matInput formControlName="city" placeholder="City">
                </mat-form-field>
            </div>
            <!-- TODO: Change to a dropdown -->
            <div class="row">
                <mat-form-field>
                    <input matInput formControlName="state" placeholder="State">
                </mat-form-field>
            </div>
            <!-- TODO: Change to a dropdown -->
            <div class="row">
                <mat-form-field>
                    <input matInput formControlName="country" placeholder="Country">
                </mat-form-field>
            </div>
        </mat-card-content>
        <mat-card-content>
            <div class="buttons">
                <button mat-raised-button class="submitButton" (click)="addMapLocation()">
                    Add Location
                </button>
                <button mat-button class="cancelButton" (click)="close()">
                    Cancel
                </button>
            </div>
        </mat-card-content>
    </form>
  </div>
</mat-dialog-content>